/* Side Menuu */
#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 15rem;
    height: 100vh;
    background: $primary;
    transition: all 0.4s ease 0s;
    transform: translateX(10rem);
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;

    padding: 0;
    margin: 0;
    list-style: none;
    & li {
margin: 0;

    }
    &__nav-item a {
        display: block;
        color: $white;
        margin: 1rem 0 0 1rem;
    }
}

.menu-toggle {
    position: fixed;
    right: 1.2rem;
    top: 1.2rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    color: $white;
    z-index: 900;
    line-height: 3rem;
    background: fade-out($gray-800, .5);
    &:focus,
    &:hover {
        color: $white;
    }
    &:hover {
        background: $gray-800;
    }
    &.active {
        background: $white;
        color: $gray-800;
    }
}

